html{background:#031c1e}a{margin:0;color:#0bf}a:visited{color:#0bf}.input-nick::-webkit-input-placeholder{color:#007070}.input-nick:-moz-placeholder{color:#007070;opacity:1}.input-nick::-moz-placeholder{color:#007070;opacity:1}.input-nick:-ms-input-placeholder{color:#007070}.input-nick{width:55%;height:35px;background-color:#003a3a;border-radius:5px;border-width:2px;border-color:#05ffff;color:#05ffff;box-shadow:0 0 10px #05ffff}.input-nick:focus,.input-nick:hover{color:#05ffff;box-shadow:0 0 20px #05ffff;border-color:#05ffff;background-color:#003a3a}.input-copylink::-webkit-input-placeholder{color:#077}.input-copylink:-moz-placeholder{color:#077;opacity:1}.input-copylink::-moz-placeholder{color:#077;opacity:1}.input-copylink:-ms-input-placeholder{color:#077}.input-copylink{background-color:#033;border-radius:5px;border-width:2px;border-color:#0ff;color:#0ff;resize:none}.input-copylink:focus,.input-copylink:hover,.input-copylink:read-only{color:#0ff;box-shadow:0 0 10px #0ff;border-color:#0ff;background-color:#044;border-width:2px;outline-color:#0ff!important}.basic-text{text-align:center;font-size:16px;font-family:'Arial Black';opacity:1;color:#05ffff;font-weight:999;text-shadow:#05ffff 0 0 8px}.basic-text2{text-align:center;font-size:15px;font-family:'Arial Black';opacity:1;color:#05ffff;font-weight:999;text-shadow:#05ffff 0 0 0}.btn-copy{display:block;background-color:#077;border-color:#0ff;width:40%;margin-left:30%;height:35px;border-radius:10px;border-width:2px}.btn-copy:disabled,.btn-copy:focus,.btn-copy:hover{background-color:#0aa;border-color:#0ff;outline-color:#044!important;color:#0ff}.btn-moreiogames{height:35px;background-color:#003a3a;border-color:#05ffff;width:100%;border-radius:0 10px 0 0;border-width:2px}.btn-moreiogames:disabled,.btn-moreiogames:focus,.btn-moreiogames:hover{background-color:#003a3a;border-color:#05ffff;outline-color:#077!important;color:#05ffff}.btn-more{height:35px;background-color:#003a3a;border-color:#05ffff;border-radius:10px 0 0 0;border-width:2px}.btn-more:disabled,.btn-more:focus,.btn-more:hover{background-color:#0aa;border-color:#0ff;outline-color:#044!important;color:#0ff}.rightBoxSmall{z-index:1000;position:absolute;bottom:0;right:0;background-color:#003a3a;border-radius:5px 0 5px 0;padding:5px 10px;border:#05ffff solid;border-color:#05ffff;border-width:2px;color:#05ffff}.featuredBox{z-index:1000;position:absolute;top:10px;right:10px;border-radius:5px 5px 5px 5px;transform:translate(0,0);background-color:rgba(0,100,100,0);outline-color:#044!important;color:#0ff;padding:5px 10px}.rightBoxNews{z-index:1000;position:absolute;bottom:0;right:0;border-radius:5px 5px 0 0;transform:translate(0,0);background-color:#044;border-color:#0ff;outline-color:#044!important;color:#0ff;border:#0ff solid;border-width:2px;padding:5px 10px}.rightBox{z-index:1000;position:absolute;bottom:0;right:0;height:103px;width:240px;background-color:#fff;border-radius:5px 0 0 0;padding:5px 10px;opacity:.9}.leftBox{z-index:1000;position:absolute;top:0;left:0;background-color:#003a3a;border-radius:0 0 10px 0;padding:5px 10px;border:#05ffff solid;border-color:#05ffff;border-width:2px;color:#05ffff}.linkBox{z-index:1000;position:absolute;bottom:96px;right:0;padding:5px 5px}.mobileBox{z-index:1000;position:absolute;bottom:40px;left:0;padding:1px 1px;background-color:rgba(0,100,100,.2);border-radius:5px 5px 5px 5px;border:#0ff;border-width:2px}.leftBottomBox{z-index:1000;position:absolute;bottom:0;left:0;background-color:#003a3a;border-radius:0 5px 0 5px;padding:5px 10px;border:#05ffff solid;border-color:#05ffff;border-width:2px;color:#05ffff}.soundBox{z-index:1000;position:absolute;bottom:0;left:310px;padding:7px 10px}.btn-naked{border:0 solid #fff;background-color:transparent;outline-width:0!important}#mpu-top{z-index:1000;position:absolute;bottom:13%;left:50%;transform:translate(-50%,0);height:250px;width:300px}#ldr-top{z-index:1000;position:absolute;left:50%;transform:translate(-50%,0)}#canvas{position:absolute}.bannerBox{z-index:1000;position:absolute;bottom:85px;right:0;padding:5px 0}td{text-align:center;padding-bottom:10px}

body {
    overflow: hidden
}

/* Login Button */
.login-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #077;
    color: #0ff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial Black';
    box-shadow: 0 0 10px #05ffff;
}

.login-button:hover {
    background-color: #0aa;
    color: #0ff;
}


.scroll-window {
    position: fixed;
    top: 100px;
    right: 10px;
    width: 25vw; /* Set a percentage width */
    max-width: 100%; /* Prevent overflow */
    height: 300px; /* Adjust height as needed */
    border: 2px solid #05ffff;
    border-radius: 10px;
    padding-right: 10px;
    background-color: #003a3a;
    color: #05ffff;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent overflow */
    overflow-y: auto; /* Allow vertical scrolling */
    font-size: 1vw; /* Scale font size with viewport width */
}

.header-text {
    position: sticky;
    background-color: #003a3a;
    z-index: 3; /* Ensure it stays above the table headers */
    padding-bottom: 10px;
}

.server-table-container {
    flex-grow: 1; /* Allow it to grow and take up available space */
}

.server-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed; /* Ensure table layout is fixed */
}

.server-table thead {
    background-color: #003a3a;
    position: sticky;
    top: 0; /* Stick to the top of the container */
    z-index: 2; /* Ensure it stays above the body content */
}

.server-table th, .server-table td {
    padding: 0px 0px; /* Adjust padding as needed */
    text-align: left;
    border-bottom: 1px solid #05ffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.server-table th {
    font-size: 0.6vw; /* Scale font size with viewport width */
}
.server-table td {
    font-size: 0.5vw; /* Scale font size with viewport width */
}

.server-table tbody {
    flex-grow: 1;
}

.server-table th:last-child, .server-table td:last-child {
    text-align: right;
}

.selected {
    background-color: rgb(0, 133, 133);
}

#createServer {
    position: sticky;
    bottom: 10px;
    align-self: flex-end;
    background-color: #05ffff;
    color: #003a3a;
    border: none;
    border-radius: 50%;
    width: 1.3vw; /* Scale width with viewport width */
    height: 1.3vw; /* Scale height with viewport width */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#settings-icon {
    cursor: pointer;
    color: #05ffff;
    font-size: 1vw;
    top: -33%;
    -ms-transform: translateY(33%);
    transform: translateY(33%);
}
    

#google_login_wrapper {
    position: absolute;
    left: 100%;
    transform:translate(-100%,0);
    top: 0%;
    z-index: 3;
}

.signinButton {
    margin-left: 50%;
    transform:translate(-50%,0);
}


/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
}

/* Tab Container Styles */
.tab-container {
    display: flex;
    justify-content: space-between;
    background-color: #003a3a;
    border-bottom: 2px solid #05ffff;
    padding: 5px;
    font-family: 'Arial Black';
}

.tab-button {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 2px solid #05ffff;
    border-radius: 5px 5px 0 0;
    background-color: #003a3a;
    color: #05ffff;
    cursor: pointer;
    font-size: 16px;
}

.tab-button.active {
    background-color: #05ffff;
    color: #003a3a;
    font-weight: bold;
}

/* Tab Content Styles */
.tab-content {
    display: none; /* Hide all tab content by default */
}

.tab-content.active {
    display: block; /* Show the active tab content */
}

.modal-content {
    background-color: #003a3a;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #05ffff;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    border-radius: 10px;
    color: #05ffff;
    box-shadow: 0 0 20px #05ffff;
}

.modal-content h4 {
    margin-top: 0;
    text-align: center;
    font-size: 20px;
    font-family: 'Arial Black';
    color: #05ffff;
}

.modal-content label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Arial Black';
    color: #05ffff;
}

.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content input[type="range"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #003a3a;
    border-radius: 5px;
    border: 2px solid #05ffff;
    color: #05ffff;
    box-shadow: 0 0 10px #05ffff;
}

.modal-content input[type="text"]::placeholder {
    color: #007070;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Arial Black';
    color: #05ffff;
}

.checkbox-container label {
    margin-right: 10px;
}

.modal-content input[type="checkbox"] {
    appearance: none;
    background-color: #003a3a;
    border: 2px solid #05ffff;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 10px #05ffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content input[type="checkbox"]:checked {
    background-color: #05ffff;
}

.modal-content input[type="checkbox"]:checked::before {
    content: "\2714"; /* Unicode check mark character */
    font-size: 16px;
    color: #003a3a;
}

.modal-content input[type="range"] {
    width: 100%;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #003a3a;
    border: none;
    color: #05ffff;
    -webkit-appearance: none; /* Override default range styling in Webkit browsers */
    appearance: none;
}

.modal-content input[type="range"]::-webkit-slider-runnable-track {
    background: #05ffff;
    height: 5px;
    border-radius: 5px;
}

.modal-content input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    margin-top: -5px; /* Align the thumb with the track */
    background: #05ffff;
    border-radius: 50%;
    cursor: pointer;
}

.modal-content input[type="range"]::-moz-range-track {
    background: #05ffff;
    height: 5px;
    border-radius: 5px;
}

.modal-content input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #05ffff;
    border-radius: 50%;
    cursor: pointer;
}

.modal-content input[type="text"]:focus,
.modal-content input[type="number"]:focus,
.modal-content input[type="range"]:focus {
    outline: none;
    box-shadow: 0 0 20px #05ffff;
    border-color: #05ffff;
}

.modal-content button[type="submit"],
.modal-content button[type="button"] {
    display: inline-block;
    background-color: #077;
    color: #0ff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial Black';
}

.modal-content button[type="submit"]:hover,
.modal-content button[type="button"]:hover {
    background-color: #0aa;
    color: #0ff;
}

.search-results {
    margin-top: 10px;
    background-color: #003a3a;
    border: 1px solid #05ffff;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    padding: 10px;
    box-shadow: 0 0 10px #05ffff;
}

.search-results div {
    padding: 5px;
    cursor: pointer;
}

.search-results div:hover {
    background-color: #05ffff;
    color: #003a3a;
}



.modal-content button {
    display: block;
    margin-left: 50%;
    transform: translate(-50%, 0);
    padding: 0;
    border: none;
}

#discordLogin {
    background-color: #7289da;
    border: 2px solid #7289da;
    color: #fff;
    font-family: Whitney, "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11pt;
    border-radius: 3px;
    cursor: pointer;
    height: 45px;
    width: 200px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.login-option:hover {
    opacity: 0.9;
}